<odoo>
    <menuitem id="menu_odoomancy_root" name="odoomancy"/>

    <menuitem id="menu_odoomancy_campaign"
              name="Campaigns"
              parent="menu_odoomancy_root"
              sequence="1"
              action="action_odoomancy_campaign"/>

    <menuitem id="menu_odoomancy_character"
              name="Characters"
              parent="menu_odoomancy_root"
              sequence="2"
              action="action_odoomancy_character"/>

    <menuitem id="menu_odoomancy_spell"
              name="Spells"
              parent="menu_odoomancy_root"
              sequence="3"
              action="action_odoomancy_spell"/>

    <menuitem id="menu_odoomancy_equipment"
              name="Equipment"
              parent="menu_odoomancy_root"
              sequence="4"
              action="action_odoomancy_equipment"/>

    <menuitem id="menu_odoomancy_monster"
              name="Monsters"
              parent="menu_odoomancy_root"
              sequence="5"
              action="action_odoomancy_monster"/>
</odoo>
